
@{
    ViewBag.Title = "Index";
}

<h2>Caculate</h2>
<form action="/Caculate/XyLy" method="post">
    <div>
        Nhập a: <input type="number" name="num1" value="" />
    </div>
    <div>
        Nhập b: <input type="number" name="num2" value="" />
    </div>
    <div>
        <input type="radio" name="type" id="cong" value="cong" /> <label for="cong">Cộng</label>
        <input type="radio" name="type" id="tru" value="tru" /> <label for="tru">Trừ</label>
        <input type="radio" name="type" id="nhan" value="nhan" /> <label for="nhan">Nhân</label>
        <input type="radio" name="type" id="chia" value="chia" /> <label for="chia">Chia</label>
    </div>
    <div>
        <input type="submit" value="Caculate" />
    </div>
</form>

