
@{
    ViewBag.Title = "Index";
}

<h2>Nhập điểm sinh viên</h2>
<form action="/NhapDiem/XyLyByArguments" method="post">
    <div>Mã SV: </div> <input type="text" name="Id" value="" />
    <div>Họ Tên: </div><input type="text" name="Name" value="" />
    <div>Điểm: </div><input type="text" name="Marks" value="" />
    <hr />
    <input type="submit" value="Nhập" />
</form>

