
@{
    ViewBag.Title = "XyLyByFormCollection";
}

<h2>Sinh viên vừa nhập</h2>
<div>
    <table border="1" style="border-collapse: collapse">
        <tr>
            <td>Mã SV: </td>
            <td>@ViewBag.ma</td>
        </tr>
        <tr>
            <td>Tên SV: </td>
            <td>@ViewBag.ten</td>
        </tr>
        <tr>
            <td>Điểm: </td>
            <td>@ViewBag.diem</td>
        </tr>
    </table>
</div>
