
@{
    ViewBag.Title = "Index";
}

<h2>Register App</h2>
<form action="/RegisterForm/Create" method="post">
    <p>
        <h2>Registration Form</h2>
   </p>
    <p>
        <label>First Name: </label>
        <input type="text" name="name" value="" />
    </p>
</form>